* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background: url(https://images.unsplash.com/photo-1626033121423-c1a82ba72da0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
}

nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content_nav {
  position: relative;
  height: 45px;
  display: flex;
  align-items: center;
  width: 600px;
  justify-content: space-between;
}

.search_bowl {
  height: 100%;
  display: flex;
  align-items: center;
  width: calc(100% - 60px);
  background-color: rgb(233, 233, 233);
  border-radius: 4px;
  overflow: hidden;
}

/* .svg_voice,
.icon_search {
  width: 40px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.svg_voice {
  fill: rgb(48, 46, 46);
  background-color: rgb(233, 233, 233);
  border-radius: 50%;
  width: 50px;
} */

.icon_voice{
  font-size: 30px;
  cursor: pointer;
  color: white;
  
}

.icon_search {
  font-size: 30px;
  padding: 0.5rem;
  fill: rgb(10, 10, 10);
  cursor: pointer;
}
.input_Search {
  height: 100%;
  width: calc(100% - 40px);
  background-color: coral;
}

.search {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background-color: rgb(233, 233, 233);
  font-size: 1.1em;
}

.content_auto_complete {
  position: absolute;
  background-color: rgb(233, 233, 233);
  top: 50px;
  width: calc(100% - 60px);
  right: 0;
  border-radius: 4px;
  display: none;
}

.content_auto_complete.show {
  display: inline;
}
.menu_lines {
  list-style: none;
  padding: 1px;
}

.menu_lines li {
  padding: 8px;
  margin-top: 1px;
  font-size: 1.2em;
  cursor: pointer;
}

.menu_lines li:hover {
  background-color: rgb(209, 209, 209);
}

svg,
img {
  width: 25px;
}

main {
  background: chocolate;
  width: 100%;
  height: 2000px;
}
